.item{
    width:16,66%;
    background:#c9c9c9;
    padding:5px;
    color:black;
    font-size:16;
    margin-left:150px;
    margin-top:10px;
    float:left;
}
.menu{
    background: white; 
    height: 80px;
    margin-top:10px;
    width:100%;
}
.pie{
    clear: both;
    width:100%;
    background:#c9c9c9;
}
.articulo{
    background:white;
    width:30%;
    float: left;
    padding-top:10px;
    padding-left:10px;
    padding-bottom:10px;
}
